body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(235, 230, 210);
  margin: 0;
}

.myHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 2, 39);
  color: white;
  padding: 40px;
  text-align: center;
}
.myHeader h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
.container .card {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0, 0, 54);
  transition: tranform 0.3s ease;
  width: 100%;
}
.container .card:hover {
  transform: translateY(-5px);
}
.container .card h3 {
  color: rgb(9, 120, 255);
}
.container .card a {
  background-color: rgb(9, 120, 255);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
}
.container .card:hover {
  background-color: rgb(0, 96.1097560976, 213);
}
.container .card.featured {
  border: 2px solid rgb(78, 172, 34);
}
.container .card.featured h3 {
  color: rgb(78, 172, 34);
}