$primary-light-blue: hsl(225, 100%, 94%);
$primary-dark-blue: hsl(245, 75%, 52%);
$neutral-light-blue:  hsl(225, 100%, 98%);
$neutral-gray: hsl(224, 23%, 55%);
$neutral-dark-blue: hsl(223, 47%, 23%);


body  {
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
  width: 360px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  text-align: center;

  &__header {
    padding: 30px;
  }

  &__body {
    padding: 25px;

    h2 {
      color: $neutral-dark-blue;
      margin-bottom: 10px;
    }
  }
}

.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #3f3ddb;
  color: white;
  font-size: 15px;
  box-shadow: 0 10px 20px hsl(223, 47%, 23%);
  margin-bottom: 18px;
}

.cancel {
  font-size: 13px;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.img {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}





